<div class="row border rounded-sm p-3">
  <%= form_with(model: order, local: true, class: "col-12") do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
          <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-row">
      <div class="form-group col-sm-6">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, required: true, class: "form-control" %>
      </div>

      <div class="form-group col-sm-6">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-9">
        <%= form.label :street_address %>
        <%= form.text_field :street_address, required: true, class: "form-control" %>
      </div>

      <div class="form-group col-sm-3">
        <%= form.label :apt_num %>
        <%= form.text_field :apt_num, class: "form-control" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-6">
        <%= form.label :city %>
        <%= form.text_field :city, required: true, class: "form-control" %>
      </div>

      <div class="form-group col-sm-4">
        <%= form.label :state %>
        <%= form.text_field :state, required: true, class: "form-control" %>
      </div>

      <div class="form-group col-sm-2">
        <%= form.label :zip_code %>
        <%= form.text_field :zip_code, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-12">
        <%= form.label :email %>
        <%= form.text_field :email, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit "Continue to Payment" %>
    </div>
  <% end %>
</div>
