<h3>New Order</h3>
<div class="row">
  <div class="col-md-4 p-3 m-1">
    <%= image_tag @ware.image.variant(**{ resize_to_limit: [300,300] }), class: "img-fluid" %>
  </div>
  <div class="col-md-7 p-3">
    <h5><%= @ware.name %></h5>
    <h6><%= @ware.description %></h6>
    <h4><%= @ware.price %></h4>
  </div>
</div>
<%= render 'form', order: @order %>

<%= link_to 'Store Home', warehouse_index_path, data: { confirm: "Leaving this page will cancel your order and return #{ @ware.name } to the storefront" } %>
