<h3>Payment Completed</h3>
<h5>Thank you for your order!</h5>
A copy of this receipt was sent to <%= @order.email %>.
<div class="receipt border rounded-sm p-3 mx-n3 mt-3">
  <div class="row px-3 pt-0 pb-3 border-bottom">
    <div class="col-sm-12">
      <h4 class="mb-0">RECEIPT FOR ORDER #<%= @order.id %></h4>
    </div>
    <div class="col-sm-12">
      <h6 class="mb-0 mt-2"><%= @order.created_at.strftime("Date of order: %m/%d/%Y")  %></h6>
    </div>
  </div>

  <div class="row p-3 border-bottom">
    <div class="col-sm-6 border-left my-3">
      <h5>Seller</h5>
      <div>Tim Thomas</div>
      <div>P.O. Box F4K3</div>
      <div>Cary, IL 60013</div>
      <div>warehouse.timthomas.dev</div>
    </div>
    <div class="col-sm-6 border-left my-3">
      <h5>Buyer</h5>
      <div><%= @order.first_name %> <%= @order.last_name %></div>
      <div>
        <%= @order.street_address %>
        <% if @order.apt_num %>
          <%= @order.apt_num %>
        <% end %>
      </div>
      <div><%= @order.city %>, <%= @order.state %> <%= @order.zip_code %></div>
      <div><%= @order.email %></div>
    </div>
  </div>

  <div class="row p-3 border-bottom">
    <div class="col-sm-12">
      <h5>Item</h5>
    </div>
    <div class="col-sm-3 mt-3">
      <%= image_tag @order.ware.image.variant(**{ resize_to_fit: [200,200] }), class: 'img-fluid' %>
    </div>
    <div class="col-sm-6 mt-3">
      <h6><%= @order.ware.name %></h6>
      <div><%= @order.ware.description %></div>
    </div>
    <div class="col-sm-3 mt-3">
      <h5><%= @order.ware.price %></h5>
    </div>
  </div>
  <div class="row pt-3 px-3 justify-content-end">
    <div class="col-sm-3">
      <div>Payment by Stripe.com</div>
    </div>
  </div>
</div>
