<h3>Warehouse</h3>
<% if notice %>
  <div class="alert alert-danger" role="alert">
    <%= notice %>
  </div>
<% end %>
<div class="row">
  <% @wares.each do |ware| %>
    <div class="ware p-3 col-sm-4 text-center">
      <% if ware.image.attached? %>
        <%= image_tag ware.image.variant({ resize_to_limit: [200, 200] }), class: "img-fluid" %>
      <% end %>
      <div class="name"><%= ware.name %></div>
      <div class="description"><%= ware.description %></div>
      <div class="price"><%= ware.price %></div>
      <%= button_to "Buy now", { controller: 'wares', action: 'process_ware', ware_id: ware.id },  class: "buy-now"  %>
    </div>
  <% end %>
</div>
